@model List<string>
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VSB</title>
    <link href="VBS-FrontEnd.styles.css" rel="stylesheet">

    <style>
          body {
            background: rgb(229,248,254);
            background: linear-gradient(145deg, rgba(229,248,254,1) 0%, rgba(0,115,238,1) 100%);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            color: white;
        }

        .title1{
            text-align: center;
            text-decoration: underline;
        }

        .featuredRecipes{
            border: 2px solid red;
            height: 200px;
        }

        .filler500{
            height: 500px;
        }

    </style>

    
</head>
<body>
    <form action="">

        <h1 class="title1">Welcome to Nimble-it</h1>


        <div class="featuredRecipes">

        </div>



        <div class="filler500"></div>














    </form>    
</body>
</html>