@model List<VBS_FrontEnd.Models.Dish>
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Styles/style.css" rel="stylesheet">
<link href="~/Styles/card.css" rel="stylesheet">
<link href="~/Styles/cardgh.css" rel="stylesheet">


<style>

        body{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(242%2c 238%2c 230%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c423.324C77.842%2c427.458%2c136.104%2c355.569%2c198.376%2c308.679C256.117%2c265.201%2c323.984%2c227.272%2c349.948%2c159.816C375.439%2c93.59%2c333.863%2c22.659%2c335.77%2c-48.277C338.215%2c-139.206%2c411.716%2c-237.654%2c362.695%2c-314.277C315.111%2c-388.654%2c203.157%2c-383.617%2c115.342%2c-392.818C39.548%2c-400.759%2c-32.263%2c-379.701%2c-106.721%2c-363.46C-187.329%2c-345.878%2c-284.718%2c-355.876%2c-338.974%2c-293.723C-393.234%2c-231.566%2c-380.243%2c-136.598%2c-376.722%2c-54.164C-373.699%2c16.609%2c-354.747%2c84.39%2c-320.183%2c146.223C-287.658%2c204.407%2c-235.686%2c244.685%2c-185.283%2c288.306C-126.304%2c339.349%2c-77.889%2c419.188%2c0%2c423.324' fill='%23d2c4a8'%3e%3c/path%3e%3cpath d='M1440 1013.389C1549.894 1035.076 1669.925 1124.933 1765.039 1065.77 1859.786 1006.836 1834.215 860.4359999999999 1860.31 751.9490000000001 1881.151 665.306 1906.771 582.495 1902.6979999999999 493.474 1898.274 396.803 1889.791 297.341 1835.8319999999999 217.00900000000001 1778.394 131.498 1690.054 72.45499999999998 1594.333 34.39099999999996 1492.127-6.250999999999976 1375.73-47.495000000000005 1273.647-6.544999999999959 1172.766 33.923 1142.603 158.56099999999998 1074.205 243.03699999999998 1008.7090000000001 323.928 901.385 377.616 880.11 479.5 858.571 582.652 904.93 689.803 962.483 778.075 1015.413 859.256 1101.199 909.082 1188.129 951.9200000000001 1267.252 990.9110000000001 1353.461 996.3109999999999 1440 1013.389' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;



        }


        .title1 {
            text-align: center;
            text-decoration: underline;
        }

        .featuredRecipes {
            border: 4px solid #cdcac4;
            width: 720px;

            display: flex;
            flex-wrap: wrap;
            margin-left: 275px;
            background-color: #f2eee6;

        @*border:2pxsolidwhite;*@
            border-radius: 35px;
            max-height: 500px;
            margin-top: 60px;
        }

        .featuredRecipes img {
            max-width: 200px;
            padding: 10px;
            border-radius: 25px;
            height: auto;
        }

        .textAndButton1 {
            margin-top: 10px;
        }

        .filler250 {
            height: 250px;
        }

        .vieuwMoreBtn {
            height: 50px;
            margin: 5px;
            width: 120px;
            background: #444;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            cursor: pointer;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-family: Consolas, Courier New, monospace;
            border: solid #404c5d 1px;
            font-size: 16px;
            color: white;
            -webkit-transition: 500ms;
            transition: 500ms;
            border-radius: 5px;
            background: linear-gradient(145deg, #2e2d2d, #212121);

        }

        .cardWrapper {
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
            margin-bottom: 50px;
            justify-content: center;
            @* border: 2px solid red; *@
        }

        article{
            @* border: 2px solid #dfccba; *@
            border: 4px solid #cdcac4;
            width: 75%;
            margin: auto;
            padding: 15px;
            border-radius: 25px;
            background-color: #f2eee6;
        }

        article button{
            margin-top: 5px;
            margin-bottom: 12px;
            border-radius: 10px;
            background-color: #77ce65 ;
        }



</style>


</head>


<body>
    <form action="">

        <h1 class="title1">Welcome to Nimble-it</h1>


        <div class="featuredRecipes">


            <img src="https://www.howtocook.recipes/wp-content/uploads/2021/05/Ratatouille-recipe-500x500.jpg" alt="">

            <div class="textAndButton1">
                <h2>Featured Recipes!</h2>
                <p>Explore top-quality culinary blueprints</p>

                <button class="vieuwMoreBtn">View More</button>
            </div>

        </div>

        <div class="cardWrapper">


            <div class="card">
                <div class="imageCard">
                    <img src="https://h2.commercev3.net/cdn.gurneys.com/images/500/14602A.jpg"
                         alt="">
                </div>
                <span class="titleCard">Basil</span>
                <span class="priceCard" style="color: green;">In stock</span>
            </div>

            <div class="card">
                <div class="imageCard">
                    <img src="https://media.post.rvohealth.io/wp-content/uploads/2020/09/AN313-Tomatoes-732x549-Thumb.jpg"
                         alt="">
                </div>
                <span class="titleCard">Tomatoes</span>
                <span class="priceCard" style="color: red;">Out of stock</span>
            </div>

            <div class="card">
                <div class="imageCard"><img src="https://www.noracooks.com/wp-content/uploads/2020/05/square.jpg" alt=""></div>
                <span class="titleCard">Cheese</span>
                <span class="priceCard" style="color: green;">In stock</span>
            </div>


        </div>

        <article>
            <h2>Get started now: Manage Your Food Inventory with Nimble-it</h2>

            <p>
                Managing your food inventory can be challenging, but Nimble-it makes it easy!
                Our web-based app helps you organize your food supplies and plan meals efficiently.
            </p>

            <button>Log in or create an account</button>

            <h4>Why Choose Nimble-it?</h4>

            <p>
                Food is often bought in advance, leading to unused ingredients and leftovers.
                Nimble-it solves these issues by helping you track and use your food before it expires.
            </p>


        </article>



        <div class="cardgh" id="gitHubRepoDiv">
            <h2>How we made it happen</h2>
            <h4>This App is an open-source platform where we provide the source code of our project in the Github repository given below</h4>


            @* <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="githubLogo"> *@
            <img src="https://www.svgrepo.com/show/510970/external-link.svg" alt="">
        </div>


        <div class="filler250"></div>



    </form>
</body>
<script>
    document.getElementById('gitHubRepoDiv')
        .addEventListener('click', function () {
            window.location.href = 'https://github.com/DomienDePauw/VooraadBeheer';
        });
</script>