@model List<string>
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VSB</title>
    <link href="~/Styles/style.css" rel="stylesheet">
    <link href="~/Styles/card.css" rel="stylesheet">
    <link href="~/Styles/cardgh.css" rel="stylesheet">




    <style>

        body{
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3cpath d='M280 6.67C241.38 17.09 249.57 75.68 249.57 140C249.57 168.27 254.4 184.39 280 191.85C339.62 209.23 352.6 203.2 420 189.68C481.83 177.28 538.46 164.04 538.46 140C538.46 116.22 476.22 123.03 420 94.03C346.99 56.37 326.6 -5.9 280 6.67' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 65.33C657.72 106.92 614.03 92.8 606.67 140C597.29 200.13 678.37 218.53 666.52 280C655.04 339.57 617.75 337.36 560 382.08C527.35 407.36 485.71 394.14 485.71 420C485.71 454.47 516.81 469.01 560 502.73C606.46 539.01 665 544.75 665 560C665 573.39 612.5 560 560 560C490 560 490 560 420 560C350 560 350 560 280 560C239.16 560 234.57 572.64 198.33 560C164.57 548.22 166.59 511.16 140 511.16C118.33 511.16 128.31 550.76 101.82 560C58.31 575.18 21.44 589.47 0 560C-29.47 519.47 0 490 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 70 -35 35 0 0C35 -35 70 0 140 0C210 0 210 0 280 0C350 0 350 0 420 0C490 0 490 0 560 0C630 0 630 0 700 0C724.5 0 749 -12.25 749 0C749 20.42 728.89 36.92 700 65.33' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 104.51C1092.1 104.51 1076.59 111.67 1057 140C1015.92 199.42 981.53 231.6 998.67 280C1013.03 320.56 1058.29 314.61 1120 317.92C1188.95 321.61 1191.67 310.12 1260 294C1272.04 291.16 1280.74 286.94 1280.74 280C1280.74 273.11 1268.53 275.3 1260 266.34C1201.86 205.3 1202.73 203.97 1147.39 140C1132.73 123.06 1137.3 104.51 1120 104.51' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M40.3 140C15.77 80.58 12.9 41.22 42.26 0C62.75 -28.78 91.13 0 140 0C182.46 0 211.46 -26.35 224.92 0C247.22 43.65 234.4 76.2 211.52 140C191.94 194.58 179.73 236.76 140 236.76C94.12 236.76 64.64 198.96 40.3 140' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M420 41.79C385.41 41.79 356.36 11.38 356.36 0C356.36 -9.51 388.18 0 420 0C483.63 0 547.27 -10.18 547.27 0C547.27 10.71 480.86 41.79 420 41.79' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 93.33C948.47 82.39 960.91 38.87 960.91 0C960.91 -7.79 970.45 0 980 0C1050 0 1050 0 1120 0C1179.39 0 1180.9 -5.36 1238.79 0C1250.9 1.12 1252.73 3.07 1260 12.96C1304.17 73.07 1300.4 76.76 1341.67 140C1370.4 184.03 1365.68 227.5 1400 227.5C1441.96 227.5 1468.75 194.35 1494.23 140C1522.08 80.6 1488.17 56.58 1506.67 0C1511.06 -13.42 1536.8 -13.46 1540 0C1553.46 56.54 1540 70 1540 140C1540 210 1540 210 1540 280C1540 309.4 1552.55 314.13 1540 338.8C1516.94 384.13 1481.75 371.92 1468.77 420C1451.89 482.52 1502.15 515.45 1480.27 560C1467.77 585.45 1440.14 560 1400 560C1330 560 1330 560 1260 560C1218.22 560 1205.93 581.06 1176.45 560C1135.93 531.06 1148.76 460 1120 460C1090.88 460 1102 530.48 1060.68 560C1032 580.48 1020.34 560 980 560C910 560 910 560 840 560C808.75 560 787.84 581.6 777.5 560C754.33 511.6 773.23 490.01 772.98 420C772.73 350.01 758 344.65 776.51 280C791.51 227.58 804.51 185.86 840 185.86C880.29 185.86 884.34 232.65 928.06 280C954.34 308.47 947.28 318.61 980 337.5C1043.25 374.02 1049.98 390.77 1120 390.83C1189.98 390.89 1193.24 370.55 1260 337.75C1306.02 315.14 1345.56 308.63 1345.56 280C1345.56 251.59 1298.24 257.09 1260 223.66C1218.17 187.09 1221.22 183.07 1185.43 140C1151.22 98.84 1163.62 65.12 1120 55.21C1060.9 41.78 1028.02 109.99 980 93.33' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M238 280C238 265.74 256.8 260.99 280 256.67C347.8 244.05 352.99 263.39 420 246.13C492.99 227.33 501.04 174.97 560 184.55C605.28 191.91 628.48 235.44 628.48 280C628.48 315.98 600.13 321.85 560 345.63C495.89 383.61 487.37 409.85 420 403.53C347.37 396.72 347.28 365.05 280 319.38C256.28 303.28 238 297.09 238 280' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M80 420C80 413.09 112.43 402.5 140 402.5C150.5 402.5 156.15 412.39 156.15 420C156.15 426.03 149.02 429.77 140 429.77C110.95 429.77 80 426.72 80 420' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 449.47C9.81 449.47 38.18 518.34 38.18 560C38.18 573.6 4.9 574.19 0 560C-14.19 518.92 -9.28 449.47 0 449.47' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M294.74 560C294.74 520.83 358.62 427.78 420 427.78C479.3 427.78 536.1 520.17 536.1 560C536.1 586.28 478.05 560 420 560C357.37 560 294.74 586.94 294.74 560' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M93.33 140C82.49 76.63 89.25 57.14 108.3 0C112.59 -12.86 124.15 0 140 0C153.77 0 164.79 -11.5 167.54 0C181.53 58.5 183.3 73.92 173.48 140C169.53 166.56 158.6 185.29 140 185.29C118.52 185.29 98.34 169.27 93.33 140' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 5.92C1110.65 5.92 1100.91 1.51 1100.91 0C1100.91 -1.45 1110.45 0 1120 0C1126.36 0 1132.73 -1.41 1132.73 0C1132.73 1.55 1126.56 5.92 1120 5.92' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1223.48 140C1223.48 110.7 1241.11 77.78 1260 77.78C1279.37 77.78 1300 110.92 1300 140C1300 162.52 1279.53 180.98 1260 180.98C1241.27 180.98 1223.48 162.3 1223.48 140' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M466.67 280C466.67 261.68 519 237.58 560 237.58C580.88 237.58 590.43 260.2 590.43 280C590.43 295.99 578.64 309.17 560 309.17C516.76 309.17 466.67 297.47 466.67 280' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M817.21 280C820.57 260.43 827.26 246.21 840 246.21C854.46 246.21 856.04 262.89 871.61 280C926.04 339.79 920.75 347.19 980 400C999.29 417.19 1025.82 398.43 1028.7 420C1036.5 478.43 1022.54 499.12 1001.36 560C998.19 569.12 990.68 560 980 560C910 560 910 560 840 560C840 560 840 560 840 560C825.11 490 815.97 490.73 810.21 420C804.57 350.73 805.67 347.32 817.21 280' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1176.76 420C1181.88 386.25 1216.13 393.29 1260 381.5C1327.75 363.29 1348.36 346.51 1400 360C1422.04 365.76 1402.36 390.2 1407.37 420C1419.16 490.2 1436.58 503.36 1433.6 560C1432.9 573.36 1416.8 560 1400 560C1330 560 1330 560 1260 560C1246.45 560 1239.24 570.66 1232.9 560C1197.62 500.66 1168.33 475.5 1176.76 420' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M386.84 560C386.84 549.63 403.75 525 420 525C435.7 525 450.73 549.46 450.73 560C450.73 566.96 435.37 560 420 560C403.42 560 386.84 567.13 386.84 560' stroke='rgba(205%2c 202%2c 196%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }


        .title1 {
            text-align: center;
            text-decoration: underline;
        }

        .featuredRecipes {
            border: 4px solid #cdcac4;
            width: 720px;

            display: flex;
            flex-wrap: wrap;
            margin-left: 275px;
            background-color: #f2eee6;

        @*border:2pxsolidwhite;*@
            border-radius: 35px;
            max-height: 500px;
            margin-top: 60px;
        }

        .featuredRecipes img {
            max-width: 200px;
            padding: 10px;
            border-radius: 25px;
            height: auto;
        }

        .textAndButton1 {
            margin-top: 10px;
        }

        .filler250 {
            height: 250px;
        }

        .vieuwMoreBtn {
            height: 50px;
            margin: 5px;
            width: 120px;
            background: #444;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            cursor: pointer;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-family: Consolas, Courier New, monospace;
            border: solid #404c5d 1px;
            font-size: 16px;
            color: white;
            -webkit-transition: 500ms;
            transition: 500ms;
            border-radius: 5px;
            background: linear-gradient(145deg, #2e2d2d, #212121);

        }

        .cardWrapper {
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
            margin-bottom: 50px;
            justify-content: center;
            @* border: 2px solid red; *@
        }

        article{
            @* border: 2px solid #dfccba; *@
            border: 4px solid #cdcac4;
            width: 75%;
            margin: auto;
            padding: 15px;
            border-radius: 25px;
            background-color: #f2eee6;           
        }

        article button{
            margin-top: 5px;
            margin-bottom: 12px;
            border-radius: 10px;
            background-color: #77ce65 ;
        }



    </style>


</head>

<body>
    <form action="">

        <h1 class="title1">Welcome to Nimble-it</h1>


        <div class="featuredRecipes">


            <img src="https://www.howtocook.recipes/wp-content/uploads/2021/05/Ratatouille-recipe-500x500.jpg" alt="">

            <div class="textAndButton1">
                <h2>Featured Recipes!</h2>
                <p>Explore top-quality culinary blueprints</p>

                <button class="vieuwMoreBtn">View More</button>
            </div>

        </div>

        <div class="cardWrapper">


            <div class="card">
                <div class="imageCard"><img src="https://h2.commercev3.net/cdn.gurneys.com/images/500/14602A.jpg"
                        alt=""></div>
                <span class="titleCard">Basil</span>
                <span class="priceCard" style="color: green;">In stock</span>
            </div>

            <div class="card">
                <div class="imageCard"> <img
                        src="https://media.post.rvohealth.io/wp-content/uploads/2020/09/AN313-Tomatoes-732x549-Thumb.jpg"
                        alt=""></div>
                <span class="titleCard">Tomatoes</span>
                <span class="priceCard"style="color: red;">Out of stock</span>
            </div>

            <div class="card">
                <div class="imageCard"><img src="https://www.noracooks.com/wp-content/uploads/2020/05/square.jpg" alt=""></div>
                <span class="titleCard">Cheese</span>
                <span class="priceCard" style="color: green;">In stock</span>
            </div>


        </div>
        
        <article>
            <h2>Get started now: Manage Your Food Inventory with Nimble-it</h2>

            <p>
                Managing your food inventory can be challenging, but Nimble-it makes it easy!
                Our web-based app helps you organize your food supplies and plan meals efficiently.
            </p>

            <button>Log in or create an account</button>

            <h4>Why Choose Nimble-it?</h4>

            <p>
                Food is often bought in advance, leading to unused ingredients and leftovers. 
                Nimble-it solves these issues by helping you track and use your food before it expires.
            </p>

            
        </article>



        <div class="cardgh" id="gitHubRepoDiv"><h2>How we made it happen</h2>
        <h4>This App is an open-source platform where we provide the source code of our project in the Github repository given below</h4>

        
        @* <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="githubLogo"> *@
        <img src="https://www.svgrepo.com/show/510970/external-link.svg" alt="">
        </div>


        <div class="filler250"></div>



    </form>
</body>

 
    <script>
        document.getElementById('gitHubRepoDiv')
              .addEventListener('click', function () {
                window.location.href = 'https://github.com/DomienDePauw/VooraadBeheer';
        });
    </script>
</html>