@model List<string>
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VSB</title>
    <link href="~/Styles/style.css" rel="stylesheet">
    <link href="~/Styles/card.css" rel="stylesheet">



    <style>


        .title1 {
            text-align: center;
            text-decoration: underline;
        }

        .featuredRecipes {

            display: flex;
            flex-wrap: wrap;
            margin-left: 183px;


        @*border:2pxsolidwhite;*@
            border-radius: 35px;
            max-height: 500px;
            margin-top: 60px;
        }

        .featuredRecipes img {
            max-width: 200px;
            padding: 10px;
            border-radius: 25px;
            height: auto;
        }

        .textAndButton1 {
            margin-top: 10px;
        }

        .filler500 {
            height: 500px;
        }

        .vieuwMoreBtn {
            height: 50px;
            margin: 5px;
            width: 120px;
            background: #444;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            cursor: pointer;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-family: Consolas, Courier New, monospace;
            border: solid #404c5d 1px;
            font-size: 16px;
            color: white;
            -webkit-transition: 500ms;
            transition: 500ms;
            border-radius: 25px;
            background: linear-gradient(145deg, #2e2d2d, #212121);

        }

        .cardWrapper {
            display: flex;
            flex-wrap: wrap;
            margin-top: 50px;
            justify-content: center;
            @* border: 2px solid red; *@
        }

        article{
            width: 850px;
            margin: 0 auto;
            margin-top: 50px;
        }




    </style>


</head>

<body>
    <form action="">

        <h1 class="title1">Welcome to Nimble-it</h1>


        <div class="featuredRecipes">


            <img src="https://www.howtocook.recipes/wp-content/uploads/2021/05/Ratatouille-recipe-500x500.jpg" alt="">

            <div class="textAndButton1">
                <h2>Featured Recipes!</h2>
                <p>Explore top-quality culinary blueprints</p>

                <button class="vieuwMoreBtn">View More</button>
            </div>

        </div>

        <div class="cardWrapper">


            <div class="card">
                <div class="imageCard"><img src="https://h2.commercev3.net/cdn.gurneys.com/images/500/14602A.jpg"
                        alt=""></div>
                <span class="titleCard">Basil</span>
                <span class="priceCard" style="color: green;">In stock</span>
            </div>

            <div class="card">
                <div class="imageCard"> <img
                        src="https://media.post.rvohealth.io/wp-content/uploads/2020/09/AN313-Tomatoes-732x549-Thumb.jpg"
                        alt=""></div>
                <span class="titleCard">Tomatoes</span>
                <span class="priceCard"style="color: red;">Out of stock</span>
            </div>

            <div class="card">
                <div class="imageCard"><img src="https://www.noracooks.com/wp-content/uploads/2020/05/square.jpg" alt=""></div>
                <span class="titleCard">Cheese</span>
                <span class="priceCard" style="color: green;">In stock</span>
            </div>


        </div>
        
        <article>
            <h3>Get started now: Manage Your Food Inventory with Nimble-it</h3>

            <p>
                Managing your food inventory can be challenging, but Nimble-it makes it easy!
                Our web-based app helps you organize your food supplies and plan meals efficiently.
            </p><br>

            <h4>Why Choose Nimble-it?</h4>

            <p>
                Food is often bought in advance, leading to unused ingredients and leftovers. 
                Nimble-it solves these issues by helping you track and use your food before it expires.
            </p>

            <button class="vieuwMoreBtn">Sign In</button>

            
        </article>

        <div class="filler500"></div>



    </form>
</body>

</html>