@model List<string>
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VSB</title>
    <link href="VBS-FrontEnd.styles.css" rel="stylesheet">

    <style>
        td {
            background-color:red;
            
        }
    </style>

    
</head>
<body>
   
    <table>
        <tr>
            @foreach (string item in Model)
            {
                <td>@item</td>
            }
        </tr>
    </table>
</body>
</html>