@{
    ViewBag.Title = "Contact";
}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>

    <style>
        body {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(242%2c 238%2c 230%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c423.324C77.842%2c427.458%2c136.104%2c355.569%2c198.376%2c308.679C256.117%2c265.201%2c323.984%2c227.272%2c349.948%2c159.816C375.439%2c93.59%2c333.863%2c22.659%2c335.77%2c-48.277C338.215%2c-139.206%2c411.716%2c-237.654%2c362.695%2c-314.277C315.111%2c-388.654%2c203.157%2c-383.617%2c115.342%2c-392.818C39.548%2c-400.759%2c-32.263%2c-379.701%2c-106.721%2c-363.46C-187.329%2c-345.878%2c-284.718%2c-355.876%2c-338.974%2c-293.723C-393.234%2c-231.566%2c-380.243%2c-136.598%2c-376.722%2c-54.164C-373.699%2c16.609%2c-354.747%2c84.39%2c-320.183%2c146.223C-287.658%2c204.407%2c-235.686%2c244.685%2c-185.283%2c288.306C-126.304%2c339.349%2c-77.889%2c419.188%2c0%2c423.324' fill='%23d2c4a8'%3e%3c/path%3e%3cpath d='M1440 1013.389C1549.894 1035.076 1669.925 1124.933 1765.039 1065.77 1859.786 1006.836 1834.215 860.4359999999999 1860.31 751.9490000000001 1881.151 665.306 1906.771 582.495 1902.6979999999999 493.474 1898.274 396.803 1889.791 297.341 1835.8319999999999 217.00900000000001 1778.394 131.498 1690.054 72.45499999999998 1594.333 34.39099999999996 1492.127-6.250999999999976 1375.73-47.495000000000005 1273.647-6.544999999999959 1172.766 33.923 1142.603 158.56099999999998 1074.205 243.03699999999998 1008.7090000000001 323.928 901.385 377.616 880.11 479.5 858.571 582.652 904.93 689.803 962.483 778.075 1015.413 859.256 1101.199 909.082 1188.129 951.9200000000001 1267.252 990.9110000000001 1353.461 996.3109999999999 1440 1013.389' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;         
            background-attachment: fixed;
   
        }

        header h1{
            margin: auto;
            text-align: center;
            text-decoration: underline;
        }

        
        main h3{
            margin-top: 25px;
            text-align: center;
        }

     

        .filler500 {
            height: 500px;
        }


        button {
            padding: 1.3em 3em;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #000;
            background-color: #f3e4cb;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
        }

            button:hover {
                background-color: #23c483;
                box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
                color: #fff;
                transform: translateY(-7px);
            }

            button:active {
                transform: translateY(-1px);
            }

        .buttonWrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            height: 75px;
            margin-top: 50px
        }

    </style>


</head>

<body>

    <header>

        <h1>Inventory Management</h1>

    </header>
    
    <main>

        <h3>Select one of these </h3>

        <div class="buttonWrapper">



            <button>
                Recipes
            </button>



            <button>
                View stock 
            </button>


        </div>


        <div class="filler500"></div>





    </main>

    <footer>


    </footer>

</body>