@{
    ViewBag.Title = "Contact";
}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>

    <style>
        body {
            background: rgb(229,248,254);
            background: linear-gradient(145deg, rgba(229,248,254,1) 0%, rgba(0,115,238,1) 100%);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            color: white;
        }

    </style>


</head>

<body>

    <header>

        <h1>Hello and welcome to the Inventory Management!</h1>

    </header>
    
    <main>

        <h3>Select one of these </h3>

        <div>


        </div>





    </main>

    <footer>


    </footer>

</body>